{% extends "base.html" %}

{% block content %}
    <form action="{{ request.path }}">
        {{ form.as_p }}
        <button type="submit">Generate</button>
    </form>

    <hr/>

    <h3>Scale: {{ scale.name }}</h3>
    <p>Tempo: {{ tempo }}</p>
    <div class="notes-container">
    {% for note in track_synth %}
        <div class="note">
            {{ note.note }}
            {{ note.duration }}
        </div>
    {% endfor %}
    </div>

    <button onclick="play();">Play</button>
{% endblock %}

{% block script %}
    <script>
        function play() {
            Tone.start();
            const part = new Tone.Part(function(time, value){
                synth.triggerAttackRelease(value.note, value.duration, time, value.velocity);
            }, {{ track_synth|safe }});
            part.humanize = true;
            part.start();

            Tone.Transport.start();
        }
    </script>
{% endblock %}