{% extends "base.html" %}

{% block content %}
    <button onclick="play();">Play</button>

    <ul>
    {% for note in track_synth %}
        <li>{{ note.note }} {{ note.time }}</li>
    {% endfor %}
    </ul>
{% endblock %}

{% block script %}
    <script>
        function play() {
            Tone.start();
            const part = new Tone.Part(function(time, value){
                synth.triggerAttackRelease(value.note, "8n", time, value.velocity);
            }, {{ track_synth|safe }});
            part.start();
            Tone.Transport.start();
        }
    </script>
{% endblock %}